// Color schemes:
// https://material.io/design/color/the-color-system.html
// https://codepen.io/anon/pen/ejebjd
$primary: #25c6d8;
$primary-dark: #0095a7;
$primary-light: #6ef9ff;

$secondary: #ec407a;
$secondary-dark: #b4004e;
$secondary-light: #ff77a9;

$light-gray: #fafafa;
